
form.thing-form .id,
div.thing-list .id,
form.image-form .id,
div.image-list .id {
  display: none;
}

sd-image-editor form,
sd-thing-editor form {
  padding-left: 15px;
  padding-right: 15px;
}

div.images-area {
  padding-left: 15px;
  padding-right: 15px;
}
div.things-area {
  padding-left: 15px;
  padding-right: 15px;
}

/*********** subjects view ********/
div.trip-stops-page,
div.subjects-page {
  padding-left: 0px;
  padding-right: 0px;
}
div.trip-info span.id,
div.stop-info span.id,
div.thing-info span.id {
  display: none;
}
div.trip-info,
div.stop-info,
div.thing-info {
  margin-left: 5px;
  position: relative;
}
div.trip-info .glyphicon,
div.stop-info .glyphicon,
div.thing-info .glyphicon {
  position: absolute;
  top: 60px;
  font-size: 5em;
}
div.trip-info .glyphicon-chevron-left,
div.stop-info .glyphicon-chevron-left,
div.thing-info .glyphicon-chevron-left {
  left: 10px;
}
div.trip-info .glyphicon-chevron-right,
div.stop-info .glyphicon-chevron-right,
div.thing-info .glyphicon-chevron-right {
  right: 10px;
}
div.trip-info .overlay,
div.stop-info .overlay,
div.thing-info .overlay {
  color: white;
  opacity: 0.0;
  z-index: 1002;  
  cursor: pointer;
}
div.trip-info .overlay:hover,
div.stop-info .overlay:hover,
div.thing-info .overlay:hover {
  opacity: 1;
}

/*** map info windows ***/
div.trip-marker-info span.id,
div.stop-marker-info span.id,
div.thing-marker-info span.id,
div.image-marker-info span.id {
  display: none;
}

div.trip-marker-info img,
div.stop-marker-info img,
div.thing-marker-info img,
div.image-marker-info img {
  width: 200px;
}










